{% extends 'layout.html' %}
{% block title %}MarketVision 메인 화면{% endblock %}
{% block content %}

<div class="container">
  <h1 class="text-center card bg-light m-4">Dashboard</h1>
  <div class="row">
    <div class="col-md-8 main-content">
      
      <!-- 그래프를 표시할 영역 -->
      <div class="row">
        <div class="col-md-6 p-3 card">
          <div id="stockIndexGraph1" class="graph-container"></div>
          <div class="card-body">
            <h4>NASDAQ Composite</h4>
            <p>미국의 기술 중심 주식 시장 지표로, 기술 산업의 상태를 잘 반영합니다.</p>
            
          </div>
        </div>
        <div class="col-md-6 p-3 card">
          <div id="stockIndexGraph2" class="graph-container"></div>
          <div class="card-body">
            <h4>Dow Jones Industrial Average</h4>
            <p> 미국의 30개 대형 상장기업으로 구성된 주식 시장 지표입니다. 산업, 금융 등 다양한 분야의 대기업들을 포함하며, 미국 경제 전반을 대표하는 지표로 자주 사용됩니다.</p>
            
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 p-3 card">
          <div id="stockIndexGraph3" class="graph-container"></div>
          <div class="card-body">
            <h4>S&P 500</h4>
            <p>미국의 500개 대형 기업으로 구성된 광범위한 주식 시장 지표입니다. 이 지수는 다양한 산업 분야를 포괄하며, 미국 주식 시장의 전반적인 건강 상태를 나타내는 데 사용됩니다.</p>
            
          </div>
        </div>
        <div class="col-md-6 p-3 card">
          <div id="stockIndexGraph4" class="graph-container"></div>
          <div class="card-body">
            <h4>Russell 2000</h4>
            <p>미국의 중소형주로 구성된 주식 시장 지표로, 대기업이 아닌 중소기업의 성과를 반영합니다. 주로 중소형주의 성장 잠재력에 관심 있는 투자자들이 참고하는 지표입니다.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h2>Latest News</h2>
      {% if news and news|length > 0 %}
        <ul class="list-group list-group-numbered">
          {% for item in news %}
            <li class="list-group-item">
              <a href="{{ item.link }}" class="list-group-item-action" target="_blank">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>현재 표시할 뉴스가 없습니다.</p>
      {% endif %}
    </div>
  </div>
</div>

<!-- Plotly.js 라이브러리 추가 -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- 그래프 렌더링 스크립트 -->
<script>
  // 서버에서 전달받은 그래프 데이터
  var graphDataArray = JSON.parse('{{ graphDataArray | safe }}');
  
  graphDataArray.forEach((graphData, index) => {
    if (graphData && graphData.graph) {
      var figure = JSON.parse(graphData.graph);
      
      // Plotly를 사용하여 그래프 렌더링
      Plotly.newPlot(`stockIndexGraph${index + 1}`, figure.data, figure.layout);
    } else {
      showNoDataMessage(index + 1);
    }
  });

  function showNoDataMessage(index) {
    // 데이터가 없을 경우 메시지 표시
    const graphContainer = document.getElementById(`stockIndexGraph${index}`);
    graphContainer.innerHTML = '<p class="card card-body bg-danger-subtle">현재 표시할 주식 지표 데이터가 없습니다.</p>';
  }
</script>

<!--
<style>
  .graph-container {
    height: 300px;
    margin-bottom: 20px;
  }
</style>
-->
{% endblock %}