{% extends 'layout.html' %}
{% block title %}Stock Detail{% endblock %}
{% block content %}

<div class="container">
  <h1 class="text-center card bg-light m-4">Stock Detail for {{ stockInfo.symbol }}</h1>

  <div class="row">
    <!-- 주식 정보 및 그래프 -->
    <div class="col-md-8">
      <div class="card card-body m-2">
        <h2>Stock Information</h2>
        {% if stockInfo %}
          <p>Name: {{ stockInfo.name }}</p>
          <p>Price: {{ stockInfo.price }}</p>
          <!-- 추가 정보가 있다면 여기에 나열 -->
        {% else %}
          <p>주식 정보를 가져올 수 없습니다.</p>
        {% endif %}
      </div>

      <div class="card card-body m-2">
        <h2>Stock Graph</h2>
        <div id="stock-graph" class="graph-container"></div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Nunjucks에서 JSON 데이터를 안전하게 문자열로 변환하여 전달
                var graphData = JSON.parse(`{{ stockGraph | dump | safe }}`);
    
                // 플롯 그래프 생성
                var stockGraphDiv = document.getElementById('stock-graph');
                Plotly.newPlot(stockGraphDiv, graphData.data, graphData.layout);
            });
        </script>
      </div>

      <div class="card card-body m-2">
        <h2>Historical Data</h2>
        {% if stockHistorical %}
          <ul class="list-group">
            {% for data in stockHistorical %}
              <li class="list-group-item">Date: {{ data.date }}, Close: {{ data.close }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>히스토리 데이터를 가져올 수 없습니다.</p>
        {% endif %}
      </div>
    </div>

    <!-- 추가 콘텐츠 영역 -->
    <div class="col-md-4">
      <div class="card card-body m-2">
        <h2>Related News</h2>
        <!-- 뉴스 데이터를 추가할 수 있습니다 -->
        <p>관련 뉴스를 여기에 표시합니다.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}